/* -------------------------- CSS RESET -------------------------- */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -------------------------- TITLE/BACKGROUND -------------------------- */

h3 {
  /*font-family: 'Raleway', Arial, sans-serif;*/
  margin-top: 20px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

body {
  background: url('sayagata-400px.png');
  font-family: 'Raleway', Arial, sans-serif;
}

.divider {
  display: block;
  margin: 0 auto;
}
/* -------------------------- NEW IDEA BUTTON -------------------------- */

.new-button, .inspiration-btn, .add-idea-button, .back-to-ideas-btn, .bubble-button {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  width: 100px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  width: 20%;
}

.back-to-ideas-btn {
  display: block;
  margin: 10px auto;
}

.btns {
  margin: 20px auto;
  overflow: auto;
  padding-left: 20%;
}
.back-to-ideas-btn:hover, .new-button:hover, .inspiration-btn:hover, .add-idea-button:hover, .bubble-button:hover {
  background: rgba(51, 255, 255, .5);
}

/* -------------------------- NEW IDEA FORM -------------------------- */

.form {
  /*border: 1px solid black;*/
  width: 40%;
  padding: 25px 10px;
  position: relative;
  margin: 0 auto;
}

.form label {
  display: block;
}

.form input[type='text'] {
  width: 95%;
  padding: 5px;
  margin: 5px 0 10px 0;
}

.form .cancel {
  position: absolute;
  text-align: center;
  width: 15px;
  height: 15px;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.form .cancel:hover {
  color: rgba(51, 255, 255, .5); 
}


/* -------------------------- IDEA COMPONENT -------------------------- */

.idea {
  width: 80%;
  border: 1px solid black;
  border-radius: 10px;
  margin: 20px auto;
  padding: 10px;
  background: rgba(20, 133, 204, 0.8);
  color: #fff;
  position: relative;
  text-align: left;
}

.idea h4 {
  margin: 10px 0;
  font-size: 20px;
}

.idea p {
  margin-bottom: 5px;
}

.star, .starClicked {
  position: absolute;
  top: 15px;
  right: 15px;
  text-align: center;
  font-size: 18px;
  transition: all .1s ease;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  cursor: pointer;
}

.star:hover {
  font-size: 24px;
  color: yellow;
}

.starClicked {
  color: yellow;
  font-size: 24px;
}

#container {
  width: 80%;
  margin: 20px auto;
  text-align: center;
}

#stars, #regular {
 width: 40%;
}

#regular {
  float: left;
}

#stars  {
  float: right;
}

.list-title {
  font-weight: bold;
}

/* -------------------------- INSPIRATION FORM -------------------------- */

.insp-form {
  padding: 20px;
  width: 50%;
  margin: 20px auto;
  text-align: center;
}

.insp-form select {
  margin: 10px;
}

img.image-display {
  width: 50%;
  display: block;
  border: 5px solid white;
  margin: 0 auto;
}

.delete {
  text-align: right;
  cursor: pointer;
}

#graph svg{
  display: block;
  margin: 0 auto;
  padding: 30px;
}










